<div class="container">
  <div class="row">
    <div class="col-2"
         style="background-color: rgb(145, 255, 145);"
         *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: contador, currentPage: pagina }">

      <div class="row">
        <div class="col-12">
          <img width="90%" height="90%" src='{{pokemon.imageUrl}}' alt='{{ pokemon.name }}'>
        </div>
        <div class="col-12">
          <span>Tipo: </span>
        </div>
        <div class="col-12">
          <a href="#" class="btn btn-primary">Mais Informações</a>
        </div>
      </div>

    </div>
  </div>

  <div class="text-right">
    <pagination-controls (pageChange)="pagina = $event"></pagination-controls>
  </div>
</div>
