<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white; font-family: arial;">Iniciando sessão...</p>
</ngx-spinner>

<section class="area-login">
  <div class="login">
    <div class="image">
      <img src="../../../../assets/pokeball-logo.png">
    </div>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

      <input type="text" name="nome" placeholder="Usuário" formControlName="userName" autofocus>
      <mat-error *ngIf="form.userName.touched && form.userName.invalid">
        <div *ngIf="form.userName.errors.required">
          Por favor, informe seu usuário.
        </div>
      </mat-error>

      <input type="password" name="senha" placeholder="Senha" formControlName="password">
      <mat-error *ngIf="form.password.touched && form.password.invalid">
        <div *ngIf="form.password.errors.required">
          Por favor, informe sua senha.
        </div>
      </mat-error>

      <div class="message">
        {{mensagem}}
      </div>

      <p class="password-link">
        <a href="#">Esqueci minha senha.</a>
      </p>

      <input type="submit" value="Entrar" [disabled]="!formLogin.valid">
    </form>
    <p>Ainda não tem uma conta?<a href="#">Criar Conta</a></p>

  </div>
</section>
